.recipe-image {
  
  width: 50%;
  border-radius: 8px;
  margin-bottom: 16px;
}

h2 {
  margin-top: 10px;
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-bottom: 12px;
}

.instruction-step {
  margin: 12px 0;
  font-size: 16px;
  line-height: 1.4;
}

.ingredient-amount {
  font-size: 14px;
  color: #666;
}

img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}