<app-app-header></app-app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div id="container">
    <ion-item>
      <ion-input 
      placeholder="Enter ingredients"
      [(ngModel)]="ingredients"
      (keyup.enter)="searchRecipes()">
      </ion-input>
    </ion-item>

    <ion-button expand="full" (click)="searchRecipes()">
      Search
    </ion-button>
  </div>

  <div *ngIf="recipes.length > 0" class="results">
    <ion-card *ngFor="let recipe of recipes">
      <img [src]="recipe.image"/>

    <ion-card-header>
      <ion-card-title>
        {{recipe.title}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="viewDetails(recipe.id)">
        Details
      </ion-button>
    </ion-card-content>

    </ion-card>
  </div>
</ion-content>
